/apidoc/doc
/node_modules
/public/hot
/public/fonts
/public/images
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/config/debugbar.php
/config/ide-helper.php
/_ide_helper*.php
/.phpstorm.meta.php
public/0.js
public/*.worker.js
/nbproject
/laravel-echo-server.json
