/apidoc/doc
/node_modules
/public/js
/public/css
/public/hot
/public/fonts
/public/images
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
/config/ide-helper.php
/public/mix-manifest.json
/_ide_helper*.php
/.phpstorm.meta.php
