.promo-code {
    margin: 0;

    .input-group-addon {
        border: none;
        background: none;
    }

    .form-control {
        border: none;
        box-shadow: none;
        background: none;
    }
}

.svg-icon:hover {
    fill: #87af1e !important;
}

.svg-icon.active {
    fill: #a4cf1f !important;
}
