.promo-code {
    margin: 0;

    .input-group-addon {
        border: none;
        background: none;
    }

    .form-control {
        border: none;
        box-shadow: none;
        background: none;
    }
}
