.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-enter,
.flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.spinner-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(65, 64, 66, 0.85);
    z-index: 9999999;
}

.spinner-container:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.spinner-container .spinner-frame {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 5px solid #eee;
    padding: 10px;
}

.spinner-container .spinner-frame .spinner-bar {
    background: #87af1e;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    -webkit-animation: spinny 1s linear infinite;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    z-index: 9999999;
}

.spinner-container .spinner-frame .spinner-cover {
    background: #eee;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 99999;
}

.spinner-container.side-loader {
    background: transparent;
    bottom: auto;
    left: auto;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 9999999;
}

@-webkit-keyframes spinny {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background: #6f931e;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        background: #486215;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        background: #6f931e;
    }
}

.main_profile_container .profile_content .primary-button {
    margin: 0;
    display: inline-block;
}

.primary-button.danger-button {
    background-color: #bf5329;

    &:hover {
        background-color: #e65e2f;
    }
}

.add-signature {
    .js-signature {
        width: 540px;
        height: 320px;
    }
}

.body-signature {
    overflow: hidden !important;
}
